.n{
    height: 990px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
       
     background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://wallpaperaccess.com/full/4821155.jpg); 
}

.head{
    color: white!important;
    
    
}
.Home{
    color: yellow !important;
}

.h{
    margin-top: 100px;
}
.h h1 {
   
    font-size: 75px;
    color: white;
}
.h h2{
    font-size: 25px;
    color: lightgray;
}

.Box{
    margin-top: 100px;
}

.boxes{
    border: 1px solid rgb(122, 121, 121);
    height: 190px;
    text-align: center;  
    font-size: 25px; 
    color: white;
}
.scop{
    margin-top: 50px;
}




.words{
    border: 1px solid white;
    height: 600px;
    width: 450px;
}

.pic{
    border: 1px solid white;
    
     
    background-size: cover;
}

.icone{
    color: yellow !important;
}

.P2{
   
     
   
    background-size: cover;
}
.w{
  
    height: 500px;
    width: 400px;
   
   
}

.w1{
    
    height: 130px;
    width: 390px;
    
}


#ad{
    font-size: 20px;
}
.sunt{
    margin-left: 39px;
}

#services{
    color: rgb(142, 140, 140);
}

#but{
    background-color: rgb(255, 187, 0);
   
}
.jp{
    margin-left: 170px;
}
 .F{
    margin-top: 50px;
 }
 

.Image{
    height: 400px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(http://getwallpapers.com/wallpaper/full/1/3/7/1149908-amazing-university-of-illinois-desktop-wallpaper-1920x1200-samsung-galaxy.jpg);
}

.Image3{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.Image4{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.masonry{
    column-count: 3;
    column-gap: 1rem;
    
}

.masonry-item{
    break-inside: avoid;
    margin-bottom: 1rem;
}

.masonry-item img{
    width: 100%;
    display: block;
    
}


.mi {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.wallpaperscraft.com/image/single/building_architecture_black_197503_3840x2160.jpg);
    background-attachment: fixed;
   
}

.bc{
    background-color: black;
}

.a108{
    color: white;
}
.cop1{
    color: white;
}